.App {
  text-align: center;
}

.board {
  display: flex;
  justify-content: center;
}

.cell {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.cell:hover {
  background-color: gainsboro;
}
